 body {
    font-family: 'Montserrat', sans-serif;
 }
 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem !important;
    line-height: 1.5;
 }
 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem !important;
    line-height: 1.5 !important;
    margin: auto 12% !important;
    
 }
 h3 {
    font-family: 'Montserrat', sans-serif !important;
     font-size: 2.5rem !important;
} 
h4 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 3.5rem !important;
    color: #fff;
    padding: 3% 12% !important;
    line-height: 1.5;
    
}
 p {
    color: #8f8f8f;
 }
.container-fluid {
   padding: 3% 15% !important;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem !important;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem !important;
    font-weight: bold;
    
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}
/* Download button */
.Download-button {
    margin: 5% 3% 5% 0 !important;
}
/* Title */

#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    margin: auto auto -12rem 50px; 
}


/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;

}
.feature-box {
    text-align: center;
    padding: 5%;
}
.icon {
    color: #ef8172;
    padding-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}

/* Testimonials */ 

#testimonials {
    text-align: center;
    background-color: #ef8172;
    padding: 7% 5%;
    color: #fff;
    
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
   padding: 3% 3% !important;
}

@media (max-width : 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
        width: 90%;
    }
    h4 {
        font-size: 2.5rem !important;
    }
}
#cta {
    background-color: #ff4c68;
    text-align: center;
}

/* footer */
#footer {
    background-color: #fff;
    margin: 5% 12% ;
    text-align: center;
}
.fa-icon {
    margin:1% 0.5% !important;
}